<p>calcular works!</p>

    <form>
      <input type="number" name="operandoA" [(ngModel)]="operandoA">
      <input type="number" name="operandoB" [(ngModel)]="operandoB">
  
      <button type="submit" (click)="reset()">Clean</button>
      <button type="submit" (click)="onSuma()">Sumar</button>
      <button type="submit" (click)="onResta()">Restar</button>
      <button type="submit" (click)="onMulti()">Multiplicar</button>
      <button type="submit" (click)="onDivi()">Dividir</button>
    </form>
